* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #4DB6AC;
    /* background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url(https://66.media.tumblr.com/8679b589c6075eff364ed50ad280be8a/tumblr_mvz98nBu641rfjowdo1_500.gif); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    line-height: 1.6;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

main {
    max-width: 1200px;
    background: #f4f4f4;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.container {
    display: flex;
    padding: 40px;
    padding-bottom: 0px;
    z-index: 1000;
    position: relative;
}

.container div.Form {
    width: 300px;
    min-width: 300px;
    display: block;
    padding: 20px;
}

.container div.navi {
    max-width: 250px;
    min-width: 150px;
    z-index: 1000;
    position: relative;
}

.container h2 {
    color: #333;
    line-height: 60px;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo div{
    text-align: center;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    mask-image: url(https://sgr-studio.github.io/media/svg/logo.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background: #8fc830;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-indent: 5px;
    color: #333;
    margin-left: 10px;
    word-break: keep-all !important;
}

.animation {
    height: 200px;
    width: 250px;
    background-image: url(cretures_animated.svg);
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: bottom left;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    margin-top: 30px;
}

.textinput {
    position: relative;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    line-height: 1rem;
    background: #fff;
}

.Form > form > div {
    position: relative;
}

.Form > form > div:last-child {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

input:focus.textinput, input:not(:placeholder-shown).textinput {
    border-color: #4169e1;
    box-shadow: 0 0 5px rgba(65, 105, 225, 0.5);
}

.textinput + label {
    width: fit-content;
    position: absolute;
    left: 0;
    top: 0;
    color: #999;
    font-size: 1rem;
    line-height: 1rem;
    pointer-events: none;
    transition: all 0.2s ease-out;
    transform: translateY(22px) translateX(5px);
    transform-origin: left top;
    padding: 0 5px;
    background-color: #fff;
}

input:focus.textinput + label,
input:not(:placeholder-shown).textinput + label {
    transform: translateY(3px) translateX(5px);
    font-size: 0.8rem;
    color: #4169e1;
}

.progress-bar {
    width: calc(100% - 40px);
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    margin: 20px auto;
}

.signin-btn {
    width: fit-content;
    padding: 10px 20px;
    background-color: #4169e1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signin-btn:hover {
    background-color: #3557c7;
}

.createAccount {
    text-align: center;
    line-height: 1rem;
    font-size: 14px;
    padding: 10px 5px;
}

#container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.15s ease-out;
    will-change: transform;
    z-index: 0;
}

#dots {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dot {
    position: absolute;
    width: 4px;
    height: 4px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transition: transform 0.3s ease-out;
    will-change: transform;
}

@media screen and (max-width:600px) {
    .animation {
        display: none;
    }
    .avator {
        display: block !important;
    }

    .askPassword-left {
        border-radius: 4px !important;
    }
    .askPassword-left::before{
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        left: -10px !important;
        top: 15px !important;
        border-right: 10px solid #e4e4e4 !important;
        border-top: 10px solid transparent !important;
        border-bottom: 10px solid transparent !important;
    }
}

@media screen and (max-width:550px) {
    .container {
        display: block;
        height: fit-content; 
    }
    main {
        justify-content: center;
        display: flex;
        padding: 0px;
        margin: 0px;
        box-shadow: none;
        height: fit-content;
    }
    .navi {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .navi .logo div {
        width: 40px;
        height: 40px;
        display: flex;
    }

    .navi div.logo::after {
        content: "SGR Studio";
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
        text-indent: 10px;
        color: #333;
    }

    .navi h2 {
        text-align: center;
        margin-top: 20px;
    }
}


.askPassword-left{
  position: relative;
  transform: translateX(-15px);
  padding: 15px;
  background-color: #e4e4e4;
  margin-bottom: 2em;
  margin-left: 1em;
  font-size: 14px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  width: fit-content;
}
.askPassword-left::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 0px;
  border-right: 15px solid #e4e4e4;
  border-top: 0px solid transparent;
  border-bottom: 15px solid transparent;
}

.avator {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    overflow: hidden;
    display: none;
    border-radius: 50%;
    background-image: url(avator.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 13px 10px;
    border: solid 3px #e0e0e0;
    margin-right: 20px;
}

.forgotPassword {
    display: flex;
    padding-top: 20px;

}

